/**
  * References:
  * sanitize.css (https://github.com/csstools/sanitize.css)
  * Modern CSS reset (https://github.com/andy-piccalilli/modern-css-reset)
  * CSS Remedy (https://github.com/jensimmons/cssremedy)
  */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ========== Main root ========== */

html:focus-within {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        scroll-behavior: auto !important;
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
    }

    html:focus-within {
        scroll-behavior: auto;
    }
}

/* ========== Sectioning root ========== */

:where(body) {
    margin: 0;
    font-family: ui-sans-serif, system-ui, sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-wrap: break-word;
}

/* ========== Content sectioning ========== */

:where(h1, h2, h3, h4, h5, h6) {
    line-height: 1.25;
}

:where(h1) {
    font-size: 2rem;
    margin: 0.67em 0; /* Keep consistent when nested within `section` and `article` contexts */
}

:where(h2) {
    font-size: 1.5rem;
}

:where(h3) {
    font-size: 1.17rem;
}

:where(h4) {
    font-size: 1.00rem;
}

:where(h5) {
    font-size: 0.83rem;
}

:where(h6) {
    font-size: 0.67rem;
}

/* ========== Text content ========== */

:where(hr) {
    border-style: solid;
    border-width: 1px 0 0;
    color: inherit;
    block-size: 0;
    overflow: visible;
}

:where(nav) :where(ol, ul) {
    list-style-type: none;
    padding-inline-start: 0;
}

:where(nav li)::before {
    content: "\200B";
    position: absolute;
}

:where(pre) {
    font-family: monospace, monospace;
    white-space: pre-wrap;
}

/* ========== Inline text semantics ========== */

:where(abbr[title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline;
    text-decoration: underline dotted;
}

:where(b, strong) {
    font-weight: bolder;
}

:where(code, kbd, samp) {
    font-family: monospace, monospace;
}

:where(small) {
    font-size: 80%;
}

/* ========== Image, multimedia and embedded content ========== */
:where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block;
    vertical-align: middle; /* Remove strange space-below in case authors overwrite the `display` value */
    max-inline-size: 100%;
}

:where(img, svg, video, canvas) {
    block-size: auto;
}

:where(picture) {
    display: contents;
}

:where(source) {
    display: none;
}

:where(audio) {
    inline-size: 100%;
}

:where(audio:not([controls])) {
    display: none;
}

/* ========== SVG ========== */

:where(svg:not([fill])) {
    fill: currentColor;
}

/* ========== Table content ========== */

:where(table) {
    border-collapse: collapse;
    border-color: currentColor;
    text-indent: 0;
}

/* ========== Forms ========== */

:where(button, input, select, textarea) {
    font-family: inherit;
    font-size: inherit;
    line-height: 1.25;
    letter-spacing: inherit;
    margin: 0;
    padding-block: 0.25em;
    padding-inline: 0.375em;
}

:where(textarea) {
    resize: vertical;
}

:where([type="search"]) {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

:where([type="color"], [type="range"]) {
    padding: 0;
    border-width: 0;
}

/* ========== Accessibility ========== */

:where([aria-busy="true"]) {
    cursor: progress;
}

:where([aria-disabled="true"], [disabled]) {
    cursor: not-allowed;
}

:where([hidden]) {
    display: none;
}

:where([aria-hidden="false"][hidden]) {
    display: initial;
}

:where([aria-hidden="false"][hidden]:not(:focus)) {
    clip: rect(0, 0, 0, 0);
    position: absolute;
}